<!doctype html>
<html lang="'en" xmlns:font-family="http://www.w3.org/1999/xhtml">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width-device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">

</head>
<body class="bg=nav" font-family: Arial>
    <div class="container_12">
        <session id="banner">
            <center><div class="grid_12>">
                <h2>OnlineEDAAutomation</h2>
            <nav>
                <div class="tab menu-item">
                    <a href="/login">Login!</a><br>
                    <a href="/register">SignUp!</a><br><br>
                </div>
            </nav>
            </div></center>
        </session>

    </div>
</body>

</html>