<!--<iframe src="https://automateeda.herokuapp.com/" title="Online Exploratory Data Analysis"></iframe>-->
<!--<style>-->
<!--    iframe{-->
<!--        width:100% !important;-->
<!--        height:95% !important;-->

<!--        #MainMenu{-->
<!--        display:none;-->
<!--        }-->
<!--    }-->
<!--</style>-->


<!DOCTYPE html>
<html>
  <head>
    <title>Hello World!</title>
  </head>
  <body>
      <h1 class="title">Go To The Main Application </h1>
      <a href="https://automateeda.herokuapp.com/" >Online Exploratory Data Analysis"</a>
  </body>
</html>